{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="team" class="team">
<div class="container">

<div class="album py-5 bg-light">

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">






    {% for post in object_list %}
    <div class="row team-container">
    
        <div class="member">
              <img src="../static/img/team/team-1.jpg" alt="">
              <h4>{{post.title}}</h4>
              <span>{{post.published_date}}</span>
              <p>
                
                {{ post.text|slice:"100"|safe }}
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div
           
            </div>
          </div>
        






 {% endfor %}
 </div>

{% endblock %}

